@import 'project-specific-styleguide/colours';
@import 'sprite';

#container {
    #navbar {
        background-color: grey;
        height: 130px;
        .logo {
            
        }

        .menu-section {
            color: $red;
        }

        .avatar {
            color: $blue;
        }
    }

    #sidebar {
        .sidebar-list {
            .sidebar-item {
                color: $blue;
            }
        }
    }

    #main-content {
        #activity-list {
            color: $red;
        }
    }
}
