@import '../project-specific-styleguide/colours';

.App__list-item {
    border: 2px solid rgb(223, 219, 219);
    padding: 0;
    list-style-type: none;
    h3 {
        margin: 0;
        width: 100%;
        background-color: rgb(206, 205, 205);
         color: rgb(90, 88, 88);
    }
    .details-wrapper {
        display: flex;

        div {
            color: rgb(90, 88, 88);
            width: 100%;
        }
        .checkmark {

        }
        .avatar {

        }
        .details {
            color: rgb(22, 22, 22);
        }
        .timestamp-details {
            p {

            }
        }
    }
}
